{{define "main"}}

    <div class="wrapper">
        <header>
            <div class="logo-view">
                <a href="/">
                    <img class="logo" src="/static/pgh_mesh_nobg.svg" alt="Pittsburgh Mesh Logo"/>
                    <span>MQTT Server</span>
                </a>
            </div>
            <nav id="header-nav">
                <ul class="mg-nav mg-nav--inline" data-toggle="nav">
                    <li class="active"><a href="#home">My Nodes</a></li>
                    {{if .MqttConfig}}
                    <li><a href="#" onclick="openOnboarding(2); return false;">Setup Guide</a></li>
                    {{end}}
                    <li><a href="/auth/logout">Logout</a></li>
                </ul>
            </nav>
            <div class="burger"><i class="fas fa-bars"></i></div>
        </header>

        {{range $i, $a := .Alerts }}
        <div class="alert alert-{{$a.Type}}" id="alert-added-{{$i}}">
            <span class="alert-text">{{$a.Message}}</span>
            <span class="alert-detail">{{$a.Detail}}</span>
            <script type="text/javascript">
                $('#alert-added-{{$i}}').show(function () {
                    $(this).fadeOut(3000);
                });
            </script>
        </div>
        {{end}}

        <div class="mg-container">
            {{template "content" .}}
        </div>

        <footer>
            <a href="https://github.com/kabili207/mesh-mqtt-server">Github</a> | made by kabili207
        </footer>

    </div>
    <script type="text/javascript">
    </script>
{{end}}