{{define "title"}}My Nodes - WPAmesh{{end}}

{{define "content"}}


<div id="tables-example">
    <h3>Connected Nodes</h3>
    <table class="table--responsive">
        <thead>
            <tr>
                <th>Node ID</th>
                <th colspan="2">Name</th>
                <th>Proxy Type</th>
                <th>Address</th>
                <th>Downlink?</th>
                <th>Valid <abbr title="gateway">GW</abbr>?</th>
            </tr>
        </thead>
        <tbody>

        {{ range .ConnectedNodes}}
        <tr>
            <td>{{if .NodeDetails}}{{.NodeDetails.NodeID}}{{end}}</td>
            <td>{{.GetShortName}}</td>
            <td>{{.GetLongName}}</td>
            <td>{{if .ProxyType}}{{.ProxyType}}{{else}}<i>none</i>{{end}}</td>
            <td>{{if .Address}}{{.GetIPAddress}}{{else}}<i>disconnected</i>{{end}}</td>
            <td>{{if .IsDownlinkVerified}}Yes{{else}}No{{end}}</td>
            <td>{{if .IsValidGateway}}Yes{{else}}No{{end}}</td>
        </tr>
        {{ end }}
        </tbody>
    </table>

    <table class="table--responsive">
        <h3>Other Connections</h3>
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>

        {{ range .OtherClients}}
        <tr>
            <td>{{.ClientID}}</td>
            <td>{{.Address}}</td>
        </tr>
        {{ end }}
        </tbody>
    </table>
</div>

{{end}}